 <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ this.uiBlocks.DELETE || 'Delete' }}</h4>
    <button class="close" (click)="close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light d-flex justify-content-between">
    <div>
      <p class="">{{ this.uiBlocks.MSG_DELETE_MODAL || 'You can not undo this action!' }}</p>
    </div>
    <div>
      <button class="btn btn-sm border border-danger rounded-pill btn-outline-danger" (click)="delete('Save click')">{{ this.uiBlocks.DELETE || 'Delete' }}</button>
    </div>
  </div>